/* CSS */
.input_container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}

.input_container input {
  border: none;
  outline: none;
  width: 100%;
}

.calendar_icon {
  margin-right: 10px;
  color: #555;
}

/* Common styles for all devices */

/* Styles for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 450px) {
  /* Your mobile-specific CSS styles go here */
  .input_container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
}


